<%- include('partials/aboveContentHTML') -%>
<a href="/">Free Classifieds Directory</a>,<a href="<%= article.parentPath %>"><%= article.title %></a>
<h1><%= article.title %></h1>
<%- article.content -%>

<%- include('partials/belowContentHTML') -%>