<%- include('partials/aboveContentHTML') -%>

<%- include('partials/breadcrumb') -%>

<h1><%= article.title %></h1>

<% if (subTopics.length > 0) { 
	console.log(`subTopics: ${JSON.stringify(subTopics)}`) %>
	<%= article.description %>
	<%- include('partials/indexSubTopicSection', subTopics)%>
<% } %>

<%- article.content -%>

<%- include('partials/belowContentHTML') -%>
