<%- include('partials/aboveContentHTML', {article}) -%>

<%- include('partials/breadcrumb') -%>

<h1><a href=""><%= article.title %></a></h1>

<%- article.blurb -%>

<%- include('partials/indexSubTopicSection.ejs', { st }) %>

<%- article.content -%>

<% try { %>
	<%- include('partials/belowContentHTML') -%>
<% } catch(err){console.error(err)} %>
